// Font
$mainFont                : 'Inter', Helvetica, Arial, sans-serif;

$desktopWidth            : 1280px;
$mDesktopWidth           : 1024px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;