input[type="number"] {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0 0 30px;
  outline: 0;
  padding: 15px;
  width: 100%;
  background: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

// тоггл

input[type="checkbox"] {
  position: relative;
  border: none;
  -webkit-appearance: none;
  background: rgba(128, 128, 128, 0.2);
  outline: none;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    top: 3px;
    left: 3px;
    background: rgba(128, 128, 128, 0.5);
    transform: scale(1.1);
    transition: 750ms ease all;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  &:checked[type="checkbox"] {
    background: rgba(0, 128, 0, 0.5);

    &::before {
      background: white;
      left: 32px;
    }
  }
}